/darksky-forecast-api/target/
/darksky-forecast-api-jackson/target/
/darksky-forecast-api/nbactions.xml
/darksky-forecast-api/nb-configuration.xml
/darksky-forecast-api-jackson/nbactions.xml
/darksky-forecast-api-jackson/nb-configuration.xml
.idea
/darksky-forecast-api/nbproject/